@import "tailwindcss";
@source "../../node_modules/@heroui/theme/dist";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  /* HeroUI Semantic Colors */
  --color-success: #17c964;
  --color-warning: #f5a524;
  --color-danger: #f31260;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #10b981;
  --primary-foreground: #ffffff;
  --secondary: #7828c8;
  --secondary-foreground: #ffffff;
}

.dark {
  --background: #020617;
  /* Slate 950 */
  --foreground: #ffffff;
}

body {
  @apply bg-background text-foreground antialiased min-h-screen selection:bg-emerald-500/30;
  background-image:
    radial-gradient(circle at 50% 0%, rgba(120, 40, 200, 0.15) 0%, transparent 50%),
    radial-gradient(circle at 100% 0%, rgba(16, 185, 129, 0.15) 0%, transparent 50%);
  background-attachment: fixed;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}